<form method="post" action="{{ path('cart_content_delete', {'id': cart_content.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cart_content.id) }}">
    <button class="btn">Delete</button>
</form>
