{% extends 'base.html.twig' %}

{% block title %}
	{% if app.request.requesturi|slice(1, 2) == 'fr' %}
		Une erreur est survenu
	{% else %}
		We have a mistake
	{% endif %}
{% endblock %}

{% block body %}
	{% if app.request.requesturi|slice(1, 2) == 'fr' %}
	<!-- FR start-->
	<div class="collection_text">Une erreur est survenu</div>
	<div class="collection_section layout_padding ">
		<div id="notfound">
			<div class="notfound ">
				<div class="notfound-404 ">
					<h1>
						<strong>OOPS!</strong>
					</h1>
				</div>
				<h2>
					<strong>Une erreur est survenu</strong>
				</h2>
				<p>
					<strong>Désole, nous avons rencontrons un ou plusieurs soucis.Nous sommes actuellement entrain de résoudre le/les problème(s).</strong>
				</p>
			</div>
		</div>
		<div class='container mb-5'>
			<a class='btn btn-success btn-lg btn-block' href="{{ path('home') }}" title="Accueil">Accueil</a>
		</div>
	</div>
	<!-- FR end-->
	{% else %}
		<!-- EN start-->
		<div class="collection_text">We have a mistake</div>
		<div class="collection_section layout_padding ">
			<div id="notfound">
				<div class="notfound ">
					<div class="notfound-404 ">
						<h1>
							<strong>OOPS!</strong>
						</h1>
					</div>
					<h2>
						<strong>We have a mistake</strong>
					</h2>
					<p>
						<strong>Sorry, something went wrong on our end. We are currently trying to fix the problem.</strong>
					</p>
				</div>
			</div>
			<div class='container mb-5'>
				<a class='btn btn-success btn-lg btn-block' href="{{ path('home') }}" title="Home">Home</a>
			</div>
		</div>
		<!-- EN end-->
	{% endif %}
{% endblock %}
