{% extends 'base.html.twig' %}

{% block title %}
	{% if app.request.requesturi|slice(1, 2) == 'en' %}
		Error 404
	{% else %}
		Erreur 404
	{% endif %}
{% endblock %}

{% block body %}
	{% if app.request.requesturi|slice(1, 2) == 'en' %}
		<div class="collection_text">OOPS! NOTHING WAS FOUND</div>
		<div class="collection_section layout_padding ">
			<div id="notfound">
				<div class="notfound ">
					<div class="notfound-404 ">
						<h1>
							<strong>404</strong>
						</h1>
					</div>
					<h2>
						<strong>
							OOPS! NOTHING WAS FOUND
						</strong>
					</h2>
					<p>
						<strong>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</strong>
					</p>
				</div>
			</div>
			<div class='container mb-5'>
				<a class='btn btn-success btn-lg btn-block' href="{{ path('home') }}" title="Home">Home</a>
			</div>
		</div>
	{% else %}
		<div class="collection_text">OUPS! LA PAGE EST INTROUVABLE</div>
		<div class="collection_section layout_padding ">
			<div id="notfound">
				<div class="notfound ">
					<div class="notfound-404 ">
						<h1>
							<strong>404</strong>
						</h1>
					</div>
					<h2>
						<strong>OUPS! LA PAGE EST INTROUVABLE</strong>
					</h2>
					<p>
						<strong>La page que vous recherchez semble être supprimée ou le nom à change ou temporairement indisponible.</strong>
					</p>
				</div>
			</div>
			<div class='container mb-5'>
				<a class='btn btn-success btn-lg btn-block' href="{{ path('home') }}" title="Accueil">Accueil</a>
			</div>
		</div>
	{% endif %}


{% endblock %}
